/target
/.serena/
/docs/
/.libs/
/Makefile
/Makefile.fragments
/Makefile.objects
/autom4te.cache/
/build/
/libtool
/ltmain.sh
/modules/
/run-tests.php
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/tests/php/vendor/
/tests/php/.phpunit.cache/
/tests/php/.phpunit.result.cache
